@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


*, *::before,*::after{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

:root{
  --primary: #9e9354;
  --secondary: #573214;
}

/* navbar */

header nav span{
  font-family: 'Berkshire Swash', cursive;
  margin-right: auto;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 100vw;
  margin: 0 auto;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}

/* page content */

main {
  max-width: 1200px;
  margin: 40px auto;
}